
@model IEnumerable<RazorTable.Models.Member>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="w-100">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Branch</th>
            <th>City</th>
        </tr>
        @foreach (var member in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => member.ID)</td>
                <td>@Html.DisplayFor(modelItem => member.Name)</td>
                <td>@Html.DisplayFor(modelItem => member.Branch)</td>
                <td>@Html.DisplayFor(modelItem => member.City)</td>


            </tr>

        }
    </table>
</div>
