@model LibrarySystem.ViewModel.MemberLibrarianViewModel

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Member.FirstName" class="control-label"></label>
                <input asp-for="Member.FirstName" class="form-control" />
                <span asp-validation-for="Member.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.LastName" class="control-label"></label>
                <input asp-for="Member.LastName" class="form-control" />
                <span asp-validation-for="Member.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.Gender" class="control-label"></label>
                <input asp-for="Member.Gender" class="form-control" />
                <span asp-validation-for="Member.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.ContactNumber" class="control-label"></label>
                <input asp-for="Member.ContactNumber" class="form-control" />
                <span asp-validation-for="Member.ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.Email" class="control-label"></label>
                <input asp-for="Member.Email" class="form-control" />
                <span asp-validation-for="Member.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.password" class="control-label"></label>
                <input asp-for="Member.password" class="form-control" />
                <span asp-validation-for="Member.password" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Librarian.LibId" class="control-label"></label>
                <input asp-for="Librarian.LibId" class="form-control" />
                <span asp-validation-for="Librarian.LibId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
            <label asp-for="Librarian.CollegeName" class="control-label"></label>
            <input asp-for="Librarian.CollegeName" class="form-control" />
            <span asp-validation-for="Librarian.CollegeName" class="text-danger"></span>
    </div>



    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
